/* style.qss */
* {
    font-family: "Montserrat";
}

QFrame#leftSideBar {
    background-color: #0B3577;
}

QFrame#headerFrame {
    background-color: #FEFEFA;
}

#headerFrame QLabel {
    background-color: transparent;
}

#statusPill {
    background-color: #0B3577; /* Deep dark background */
    border-radius: 8px;       /* Perfectly rounded corners */
    color: #F9F9F9
}

#lblHeaderDot {
    background-color: #E74C3C; /* The bright blue color */
    border-radius: 6px;        /* Must be exactly half of the 12px FixedSize! */
}

#lblConnectedDevice {
    color: #C9D1D9; /* Soft, readable light gray/white */
    font-size: 14px;
    font-weight: bold;
    background-color: transparent; /* Prevents the label from drawing its own box */
    color: #F9F9F9
}

QFrame#firstSTEPFrame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px; /* Example: A subtle border to make it pop */
}

QLabel#lblFirstSTEP {
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

QFrame#secondSTEPFrame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px; /* Example: A subtle border to make it pop */
}

QLabel#lblSecondSTEP {
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

QFrame#thirdSTEPFrame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px solid ; /* Example: A subtle border to make it pop */

}

QLabel#lblThirdSTEP {
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

#lblActiveDevice {
    color: #6B7280;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

QStackedWidget {
    background-color: #041246;
}

QComboBox {
    background-color: #2A2A2A;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}

/* You can  style the dropdown menu that pops out! */
QComboBox QAbstractItemView {
    background-color: #2A2A2A;
    color: white;
    selection-background-color: #14887B;
}

#pageConnectionWidget {
    background-color: #041246; /* A deep, dark background */
}

#lblStatus {
    background-color: #E74C3C;
    border-radius: 8px;
}

#lblStatusText {
    color: #FEFEFA;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

#lblValue {
    color: #FEFEFA;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

QToolButton {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

QPushButton {
    background-color: transparent;
    color: #A0A0A0;
    border: none;
    text-align: left;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
}

QPushButton:hover {
    color: #FFFFFF;
    background-color: #303030;
}

QPushButton:checked {
    background-color: #14887B;
    color: #AADBE9;
    border-left: 4px solid #2BAAA8;
}

/* Style the Message Box Background */
QMessageBox {
    background-color: #F9FAFB; /* Light gray/white background */

}

/* Style the Text inside the Message Box */
QMessageBox QLabel {
    color: #1F2937; /* Dark text */
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}

/* Style the "OK" button inside the Message Box */
QMessageBox QPushButton {
    background-color: #3B82F6; /* Bright blue button */
    color: white;
    border-radius: 6px;
    padding: 6px 15px;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #2563EB; /* Darker blue on hover */
}

QMainWindow {
    font-family: "Quicksand";
}

QLabel#heading {
    font-size: 18pt;
    font-family: "Quicksand";
    font-weight: bold;
