/* style.qss */
* {
    font-family: "Roboto";
}

QFrame#leftSideBar {
    background-color: #0B3577;
}

QFrame#headerFrame {
    background-color: #FEFEFA;
}

#headerFrame QLabel {
    background-color: transparent;
}

#statusPill {
    background-color: #0B3577; /* Deep dark background */
    border-radius: 8px;       /* Perfectly rounded corners */
    color: #F9F9F9
}



#lblHeaderDot {
    background-color: #E74C3C; /* The bright blue color */
    border-radius: 6px;        /* Must be exactly half of the 12px FixedSize! */
}

#lblConnectedDevice {
    color: #C9D1D9; /* Soft, readable light gray/white */
    font-size: 14px;
    font-weight: bold;
    background-color: transparent; /* Prevents the label from drawing its own box */
    color: #F9F9F9
}

#lblDeviceName {
    color: #C9D1D9; /* Soft, readable light gray/white */
    font-size: 28px;
    font-weight: bold;
    background-color: transparent; /* Prevents the label from drawing its own box */
    color: #F9F9F9
}

#lblIdText {
    color: #C9D1D9; /* Soft, readable light gray/white */
    font-size: 20px;
/*    font-weight: bold;*/
    background-color: transparent; /* Prevents the label from drawing its own box */
    color: #F9F9F9
}


QLineEdit#idInput {
    background-color: #FFFFFF;
    color: #000000;

    /* Add padding so the "1" doesn't touch the left wall */
    padding-left: 10px;
    padding-right: 10px;

    /* Clean, even border on all sides */
    border: 2px solid #2196F3;
    border-radius: 6px;

    /* Force a comfortable height */
    min-height: 28px;

    font-size: 20px;
    font-weight: bold;
}

QLineEdit#idInput:focus {
    border: 2px solid #0B3577; /* Darkens the border slightly when typing */
}
QFrame#firstSTEPFrame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px; /* Example: A subtle border to make it pop */
}

QLabel#lblFirstSTEP {
    font-family: "Roboto Regular";
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

QFrame#secondSTEPFrame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px; /* Example: A subtle border to make it pop */
}

QLabel#lblSecondSTEP {
    font-family: "Roboto Regular";
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

QFrame#thirdSTEPFrame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px solid ; /* Example: A subtle border to make it pop */
}

QLabel#lblThirdSTEP {
    font-family: "Roboto Regular";
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

QFrame#dcMotor1Frame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px solid ; /* Example: A subtle border to make it pop */

}

QFrame#dcMotor2Frame {
    background-color: #0B3577; /* Example: Soft dark gray background for the card */
    border-radius: 12px;       /* Example: Gives it beautiful rounded corners */
    border: 1px solid ; /* Example: A subtle border to make it pop */

}

QLabel#lblDcMotor1 {
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}

QFrame#motor1SpeedFrame,
QFrame#motor2SpeedFrame,
QFrame#motor1CurrentFrame,
QFrame#motor2CurrentFrame{
    background-color: #003691; /* Dark blue background */
    border-radius: 8px;        /* Rounded corners */
}

/* Make sure all text inside these pills is white, bold, and transparent */
QFrame#motor1SpeedFrame QLabel,
QFrame#motor2SpeedFrame QLabel,
QFrame#motor1CurrentFrame QLabel,
QFrame#motor2CurrentFrame QLabel{
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
}

/* 1. Style the Mode Button to be clean and flat */
QPushButton#btnMotor1Mode,
QPushButton#btnMotor2Mode {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    padding: 2px 8px;
    text-align: right;
}

/* Override hover effect specifically for this button to keep it clean */
QPushButton#btnMotor1Mode:hover {
    color: #AADBE9;
    background-color: transparent;
}

QPushButton#btnMotor2Mode:hover {
    color: #AADBE9;
    background-color: transparent;
}

/* 2. Default state for the Mode Frame */
QFrame#motor1ModeFrame,
QFrame#motor2ModeFrame {
    border-radius: 6px;
    border: 1px solid #1F3A60;
    background-color: #0B3577; /* Default theme color */
}

/* 3. Dynamic color changes for the entire Frame! */
QFrame#motor1ModeFrame[activeMode="coast"] {
    background-color: #51C7BF; /* Forest green to show Coast is active */
}

QFrame#motor1ModeFrame[activeMode="brake"] {
    background-color: #FFB341; /* Warning red to show Brake is active */
}

QFrame#motor2ModeFrame[activeMode="coast"] {
    background-color: #51C7BF; /* Forest green to show Coast is active */
}

QFrame#motor2ModeFrame[activeMode="brake"] {
    background-color: #FFB341; /* Warning red to show Brake is active */
}


QLabel#lblDcMotor2 {
    font-size: 18px;
    font-weight: bold;
    color: #F9F9F9
}


#lblActiveDevice {
    color: #6B7280;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

QStackedWidget {
    background-color: #041246;
}

QComboBox {
    background-color: #2A2A2A;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}

/* You can  style the dropdown menu that pops out! */
QComboBox QAbstractItemView {
    background-color: #2A2A2A;
    color: white;
    selection-background-color: #14887B;
}

#pageConnectionWidget {
    background-color: #041246; /* A deep, dark background */
}

#lblStatus {
    background-color: #E74C3C;
    border-radius: 8px;
}

#lblStatusText {
    color: #FEFEFA;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

#lblMotor1Value {
    color: #FEFEFA;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

#lblMotor2Value {
    color: #FEFEFA;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

QToolButton {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}

QPushButton {
    background-color: transparent;
    color: #A0A0A0;
    border: none;
    text-align: left;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
}

QPushButton:hover {
    color: #FFFFFF;
    background-color: #303030;
}

QPushButton:checked {
    background-color: #14887B;
    color: #AADBE9;
    border-left: 4px solid #2BAAA8;
}

/* Style the Message Box Background */
QMessageBox {
    background-color: #F9FAFB; /* Light gray/white background */

}

/* Style the Text inside the Message Box */
QMessageBox QLabel {
    color: #1F2937; /* Dark text */
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}

/* Style the "OK" button inside the Message Box */
QMessageBox QPushButton {
    background-color: #3B82F6; /* Bright blue button */
    color: white;
    border-radius: 6px;
    padding: 6px 15px;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #2563EB; /* Darker blue on hover */
}


